body {
    position: relative;
}
canvas {
    position:fixed;
    top:0px;
    left:0px;
    margin:0;
    padding:0;
    z-index:-1;
}
.puzzle_piece{
    position: absolute;
    scale: 0.25;
    top: -98px;
    left: -93.5px;
    
}

@keyframes myScatter{
    from{top:-98px;}
    to{top:300px;}
}